@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-mempelai {
    font-family: "Dancing Script", cursive;
    color: #9b6419;
    font-size: 45px;
    line-height: 68px;
  }
}
@layer base {
  .font-secondary {
    font-family: "Bellefair", serif;
    color: #54595f;
    font-size: 18px;
    line-height: 27px;
  }
}
@layer base {
  .font-third {
    font-family: "Bellefair", serif;
    color: #54595f;
    font-size: 35px;
    line-height: 53px;
    font-weight: 600;
  }
}
@layer base {
  .font-button-cover {
    font-family: "Bellefair", serif;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
  }
}

@layer base {
  .font-pasangan {
    font-family: "Satisfy", cursive;
    color: #9e795e;
    font-size: 80px;
    line-height: 120px;
  }
}

@layer base {
  .font-footer {
    font-family: "Playfair Display", serif;
    line-height: 17px;
    font-size: 14px;
    color: #c6c6c6;
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
